$indent-top-bottom: 0.938;
$icon-width: 2.450;

.catalog {
    &-dropdown {
        background: url('/img/svg/dropdown-gray-thick.svg');
        height: $arrow-thick-size;
        width: $arrow-thick-size;
        background-size: $arrow-thick-size;
    }
  &-list {
    margin: -1.3em -1.357em 0 -1.357em;
    padding: 0;
    list-style: none;
    border-top: 0.063em solid $color-grey-border;

    &-item {
        &:first-of-type {
            border-top: 1px solid white;
        }
      border-bottom: 0.063em solid $color-grey-border;
      &:last-of-type {
          border-bottom: none;
      }
      &__active {
        .catalog-list-item-title {
          background: $color-footer;
          color: white;
        }

        & .catalog-dropdown {
            background-image: url('/img/svg/dropdown-white-thick.svg');
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -o-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
        }
      }

      &-title {
          position: relative;
          font-family: 'helveticaneuecyrmedium';
          padding: 0.7em .8em 0.7em 1.357em;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: white;
          color: black;
          height: $arrow-expand-height;
        .badge {
          margin-right: .5em;
        //   position: absolute;
        //   left: -2.7em;
        }
      }
    }

    &-inner {
      display: none;
      margin: 0;
      padding: 0;
      list-style: none;
      border-top: 0.063em solid $color-grey-border;

      &-item {
        position: relative;
        padding: 0.7em .8em 0.7em 2em;
        border-bottom: 0.063em solid $color-grey-border;
        & a {
            text-decoration: none;
            color: black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            & > img {
                height: $arrow-thick-size;
                width: $arrow-thick-size;
            }
            & > div {
                display: flex;
                align-items: center;
                & img {
                    width: 2.2em;
                    height: 2.2em;
                    margin-right: .8em;
                }
            }
        }
        &:last-child {
          border: 0;
        }

        &-title {
          font-family: 'helveticaneuecyrregular';
          padding-top: 0.25em;
        }

        &-icon {
          position: absolute;
          width: $icon-width + em;
          left: ($common-side-indent - 0.7) + em;
          top: ($indent-top-bottom - 0.35) + em;

          img {
            width: 100%;
          }
        }

        &-info {
          float: right;
          text-align: right;
          line-height: 2em;
          color: $text-grey;
        }
      }
    }
  }
}

.catalog-controls {
    display: flex;
    align-items: center;
    position: relative;
    & img {
        height: 1.75em;
    }
}