.cv-form, .order-form {
  position: relative;

  .bootstrap-select .dropdown-toggle:focus,
  input, textarea, button, select {
    outline: none!important;
  }

  .absolute-message {
    margin: 6em 0;
    @extend .text-center
  }
  .caret {
    background: transparent url(../img/svg/dropdown-gray.svg) no-repeat calc(100% - 13px) 0;
    background-size: 14px;
    height: 15px;
    width: 27px;
    right: 0 !important;
    top: 17px;
    border: 0 !important;
  }

  ::-webkit-input-placeholder {
    color: $text-grey-light;
  }

  .form-row-inner > select.select {
    padding-right: 0.4em;
  }

  .placeholder-select {
      color: $text-grey-light !important;
  }

  .multiselect-popup {
      overflow-y: scroll;
      box-sizing: border-box;
      height: 100%;
     & .scroll-fix {
       height:70px;
     }
  }
}
