.header {
  background: #0c4e69;
  padding: 1.429em 1.357em 1.429em 1.357em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-logo {
    display: block;
    background: url('../img/svg/logo_yellow_mobile.svg') no-repeat;
    width: 9em;
    height: 3.5em;
    overflow: hidden;
    text-indent: -3000px;
  }

  &-controls {
      display: flex;
      align-items: center;
      & a {
          display: inherit;
          margin-right: 1.6em;
      }
  }

  &-menu-button {
    cursor: pointer;
    right: 1.357em;
    width: 1.6em;
    height: 1.6em;
    background: url('../img/svg/burger.svg') no-repeat;
    background-size: cover;
  }

  .button-phone {
    right: 4.5em;
  }

  &-title {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    background: #23647f;
    padding: 0.525em 0.3em;

    a {
      color: #fff;
      display: inline-block;
    }
  }


  &-image {
    text-align: center;
    color: #fff;
    font-family: 'helveticaneuecyrultralight';
    padding: 3.5em 0 0 0;
    position: relative;

    &-container {
      font-size: 3em;
      padding-bottom: 1.300em;
    }

    &-title {
      font-size: 2em;
    }
  }

  &__wrap-img {
    position: relative;
    background: url('/img/background/main.jpeg') no-repeat 50% 0;
    background-size: cover;
    height: 36em;

    .header {
      background: none;
    }

    .header-title {
      background: rgba(0, 0, 0, 0.4);
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: rgba(0, 0, 0, 0.7);
    }
    &.university {
        height: 19em;
        &:before {
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
  }
}
