.landing {
  &-container {
    padding: 1.5em 0 3.5em;
    &:first-of-type {
        padding-top: 0;
    }
    h2 {
      padding-bottom: 1.5em;
    }

    .list-main {
      padding-bottom: 2em;
    }
  }
}