.reviews {
  margin: 0;
  padding: 0;
  list-style: none;

  &-item {
      &:not(:last-of-type) {
          padding: 0 0 1.7em 0;
      }

    &-signature {
      font-size: .9em;
      color: $text-grey;
    }
  }

  &-popup-wrap {
    text-align: left;
    padding: 1.250em;
  }
}