.tutors {
  margin: 0;
  padding: 0;
  list-style: none;

  & .list-main {
      padding: 0;
      & li:last-of-type {
          padding: 0;
      }
  }
  &-item {
    padding: 0 0 1em 0;

    &:after {
      content: '';
      display: block;
      clear: both;
      height: 1px;
      line-height: 0;
    }

    &-img {
      float: left;
      width: 30%;
      max-width: 9.375em;

      img {
        width: 100%;
        border-radius: $border-radius-main;
      }
    }

    &-right {
      box-sizing: border-box;
      float: left;
      width: 70%;
      padding: 0 0 0 1em;
    }

    &-title {
      font-family: 'helveticaneuecyrmedium';
      padding: 0 0 1em 0;
    }

    &-description {
      padding: 1em 0;
    }
  }

}