.button-outline {
  display: inline-block;
  vertical-align: middle;
  background: white;
  color: $main-color;
  font-size: $main-font-size;
  line-height: $height-element-form + px;
  text-decoration: none;
  font-family: 'helveticaneuecyrmedium';
  height: $height-element-form + px;
  padding: 0 16px;
  border-radius: $border-radius-element-form + px;
  border: 1px solid $main-color;
  position: relative;
  &:disabled {
      background: rgba($text-grey, .5);
  }
}
