.button-green-large {
  display: inline-block;
  vertical-align: middle;
  background: $color-green;
  color: #fff;
  font-size: $main-font-size;
  line-height: $height-element-form + px;
  text-decoration: none;
  font-family: 'helveticaneuecyrmedium';
  height: $height-element-form + px;
  padding: 0 16px;
  border-radius: $border-radius-element-form + px;
  border: 0;
  position: relative;
  &:disabled {
      background: rgba($text-grey, .5);
  }
}
