APP_ENV=local
APP_KEY=base64:7zRBbwcsLmy9homyD05csRyYfqBCE4xUd4etUPOXMsE=
APP_DEBUG=true
APP_LOG_LEVEL=debug
CRM_URL=http://ycrm.localhost:8091/
API_URL=http://localhost:8080/egecrm/api/
API_EGEREP_URL=http://localhost:8080/egerep/public/api/external/

DB_HOST=localhost
DB_DATABASE=ycms
DB_USERNAME=root
DB_PASSWORD=root
DB_SOCKET=/Applications/MAMP/tmp/mysql/mysql.sock

DB_HOST_EGECRM=localhost
DB_DATABASE_EGECRM=egecrm
DB_USERNAME_EGECRM=root
DB_PASSWORD_EGECRM=root

DB_HOST_YCRM=localhost
DB_DATABASE_YCRM=ycrm
DB_USERNAME_YCRM=root
DB_PASSWORD_YCRM=root

DB_HOST_FACTORY=localhost
DB_DATABASE_FACTORY=factory
DB_USERNAME_FACTORY=root
DB_PASSWORD_FACTORY=root

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_DRIVER=sync

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.yandex.ru
MAIL_PORT=465
MAIL_USERNAME=info@ege-repetitor.ru
MAIL_PASSWORD=Tp4H6bD
MAIL_ENCRYPTION=SSL

PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
