.footer {
  background: #3b3b3b;
  color: #fff;
  font-family: $font-regular;
  font-size: 14px;
  font-weight: normal;
  width: 100%;
  padding-bottom: 20px;
  margin-top: 30px;

  a {
    color: #fff;
    // text-decoration: none;

    &:hover {
    //   text-decoration: underline;
    }
  }

  &-inner {
    width: $screen-width;
    margin: 0 auto;
    padding: 20px 0 0 0
  }

  &-title {
    color: #ababab;
    font-family: 'helveticaneuecyrmedium';
    padding: 0 0 20px 0;
  }

  &-popular {
    float: left;
    width: calc(400px - #{$screen-padding});
  }

  &-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: $line-height-main + px;
    li {
      padding: 0 0 2px 0;
    }
  }

  &-main {
    float: left;
    width: calc(390px - #{$screen-padding});
  }

  &-contacts {
    float: left;
    width: 210px;
  }

  &-copyright {
    text-align: center;

    &:before {
      content: '';
      display: block;
      clear: both;
    }
  }

}
