.landing-body {
   position: relative;
   background-image: url('/img/background/landing.jpg');
   background-position: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   & h2 {
        font-size: 18px;
        // padding-bottom: 30px;
        &.header {
            border-bottom: 1px solid lighten($text-grey-light, 20);
            margin-bottom: 30px;
        }
    }

   & > div {
       background: white;
       box-shadow: 0 0 15px rgba(0, 0, 0, .5);
       border-radius: 3px;
       padding: 20px;
       & .landing-options {
           display: flex;
           & > div {
               & img {
                   height: 120px;
               }
               & h2 {
                   padding: 30px 0;
               }
               & a {
                   margin-top: 40px;
               }
           }
       }
   }
}
