.right-img {
  padding: 0;

  &-title {
    padding: 0 0 10px 0;
    line-height: $line-height-main + px;
    text-align: right;
  }

  &-img {
    max-width: 300px;
    border-radius: 4px;
  }

  &-custom {
    border-radius: 4px;
    width: 300px;
    height: 200px;
    background-size: cover;
  }
  &-price {
      font-size: 24px;
  }
}
