.top-message {

  background: #fef9de;
  border-bottom: 1px solid #ffe65c;

  &-inner {
    width: $screen-width;
    margin: 0 auto;
    padding: 7px 0;
    font-family: 'helveticaneuecyrregular';
    color: #af0000;
    text-align: center;
    position: relative;
  }
}
