.tutors {
  margin: 0;
  padding: 0 0 20px 0;
  list-style: none;

  &-item {
    padding: 0 0 30px 0;

    &:after {
      content: '';
      display: block;
      height: 1px;
      font-size: 1px;
      line-height: 1px;
      clear: both;
    }

    &-img {
      width: 120px;
      float: left;

      img {
        max-width: 100px;
        border-radius: $border-radius-main + px;
      }
    }

    &-info {
      float: left;
      width: calc(880px - (#{$screen-padding} * 2));
    }

    &-links {
      margin: 0;
      padding: 0;
      list-style: none;

      &-item {
        // padding: 0 0 3px 0;
        padding: 0;
      }
    }

    &-reviews {
      background: #f4f4f4;
      padding: 10px 15px 20px 15px;
      margin: 10px 0 20px 0;
      border-radius: 4px;
    }
  }
}
