.yacht-item {
    padding: 0 0 30px 0;
}
.yacht-photos-wrapper {
    width: 50%;
    margin-right: 30px;
    & img {
        float: left;
        width: 24%;
        &:first-child {
            width: 100%;
        }
    }
    & .yacht-photos {
        display: flex;
        width: 100%;
        padding-top: 10px;
        justify-content: space-between;
        & > div {
            height: 75px;
            width: calc(25% - 10px);
            background-size: cover;
            margin-right: 10px;
            cursor: pointer;
            &.more-photos {
                margin-right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                border: 2px dashed $main-color;
                cursor: pointer;
                color: $main-color;
                text-decoration: underline;
            }
        }
    }
}

.yacht-info-wrapper {
    & b {
        margin-bottom: 15px;
        display: block;
    }
    & .yacht-info {
        & span {
            &:first-child {
                display: inline-block;
                width: 220px;
            }
        }
    }
}

.yacht-description-wrapper {
    display: inline-block;
    width: 100%;
    margin: 30px 0;
    & .yacht-description {
        width: calc(100% - 350px);
        display: inline-block;
    }
    & .yacht-contact {
        float: right;
        width: 280px;
        background-color: $main-color;
        & b {
            font-size: 22px;
            margin-bottom: 20px;
            display: block;
        }
        & button {
            width: 100%;
            color: $main-color;
            background-color: white;
            border: none;
            text-transform: uppercase;
            border-radius: 0;
            margin-top: 20px;
            font-family: $font-bold;
            font-size: 16px;
            padding: 14px 0;
        }
        color: white;
        padding: 25px;
    }
}