.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  // content: "..."; /* ascii code for the ellipsis character */
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
  position: absolute;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

$font-ultra-light: 'helveticaneuecyrultralight';
$font-light: 'helveticaneuecyrlight';
$font-roman: 'helveticaneuecyrroman';
$font-medium: 'helveticaneuecyrmedium';
$font-regular: 'helveticaneuecyrregular';
$font-bold: 'helveticaneuecyrbold';
$font-italic: 'helveticaneuecyrlight_italic';

.loading-inside-button {
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
    visibility: hidden;
}
.check-mark {
  @extend .fa;
  @extend .fa-check;
}

.inline {
    display: inline-block;
}

.speech-bubble {
    position: relative;
    width: 250px;
    height: 62px;
    // line-height: 50px;
    color: #FFFFFF;
    // text-align: center;
    padding: 10px;
    line-height: 16px;
    background: #e8e8e8;
    color: black;
    border-radius: 6px;
    margin-left: -121px;
    margin-top: -138px;
    box-shadow: 5px 5px 19px 0px #A3A3A3;
    opacity: .95;
    font-family: $font-light;
}

.speech-bubble:after {
   content: '';
   position: absolute;
   border-style: solid;
   border-width: 15px 10px 0;
   border-color: #e8e8e8 transparent;
   display: block;
   width: 0;
   z-index: 1;
   bottom: -15px;
   left: 110px;
}

.relative {
    position: relative;
}

.hidden {
    display: none;
}

.deadline-underline {
    border-bottom: 2px solid #e90f20;
}

mark {
    background: #d9eede;
}

.page-best-students {
    & .button-student-reviews {
        display: none;
    }
}

.price-strokeout {
    text-decoration: line-through;
    color: $text-grey-light;
    font-size: 12px;
}