.btn {

}

.btn-primary {
    font-family: 'franklingothicbookcmpcbook';
    color: #c4ab6d;
    // border: 1px solid black;
    outline: none;
    background: #fafafa;
    // border: 0;
    border: 1px solid #cfcecb;
    padding: 3px 5px;
}