.destination {
    display: flex;
    margin-bottom: 50px;
    & > div {
        width: 50%;
    }
    & .destination-image {
        & img {
            width: 100%;
        }
    }
    & .destination-desc {
        & .more-info {
            display: block;
            margin-top: 15px;
        }
    }
    &.right {
        flex-direction: row-reverse;
        & .destination-image {
            padding-left: 30px;
        }
    }
    &.left {
        & .destination-image {
            padding-right: 30px;
        }
    }
}