#map {
    width: 500px;
    height: 500px;
}

body {
    min-width: calc(#{$screen-width} + (#{$screen-padding} * 2));
    -webkit-overflow-scrolling: touch;
    &.modal-open {
        overflow: hidden !important;
        &:before {
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(black, 0.75);
            position: fixed;
            z-index: 99;
        }
    }
}

.lightbox-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
}

.modal {
    position: fixed;
    width: 60%;
    height: 50%;
    background: white;
    z-index: 99;
    left: 20%;
    top: 25%;
    // top: 25%;
    border-radius: $border-radius;
    display: none;
    overflow: scroll;
    line-height: 20px;
    &.active {
        display: block;
    }
    & .cross {
        position: absolute;
        right: 1em;
        width: 1.1em;
        height: 1.1em;
        background: url(../img/svg/cross-out.svg) no-repeat;
        cursor: pointer;
        z-index: 3;
    }
    & .modal-content {
        padding: 1em;
        & h4 {
            font-weight: normal;
            font-family: 'helveticaneuecyrbold';
        }
        & .col {
            width: 50%;
            float: left;
        }
    }
}
.modal-open {
    & .main {
        // -webkit-filter: blur(5px);
        //    -moz-filter: blur(5px);
        //      -o-filter: blur(5px);
        //     -ms-filter: blur(5px);
        //         filter: blur(5px);
    }
    & .lightbox-background {
        display: block;
    }
}

#modal-video {
    overflow: hidden;
    width: 800px;
    height: 450px;
    left: calc(50% - 400px);
    top: calc(50% - 225px);
    & #youtube-video {
        width: 100%;
        height: 100%;
    }
}

.caret {
    background: transparent url(../img/svg/dropdown-gray.svg) no-repeat calc(100% - 13px) 0;
    background-size: 14px;
    height: 15px;
    width: 27px;
    right: 0 !important;
    top: 17px;
    border: 0 !important;
}

.bootstrap-select {
    width: 100% !important;
    outline: none !important;
    & button {
        outline: none !important;
        height: 48px;
        font-size: 14px;
    }
}

.bootstrap-select button {
    border-color: rgb(166, 166, 166) !important;
    height: 42px;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder {
    // color: #4c4a40;
    color: #757575;
}

.dropdown-toggle:focus {
    outline: none !important;
}

span.customSelect {
    font-family: inherit;
    background: transparent url(../img/svg/dropdown-gray.svg) no-repeat calc(100% - 13px) 55%;
    background-size: 14px;
    box-sizing: border-box;
}

.form-errors {
    display: inline-block;
    margin: 14px;
    margin-bottom: 0;
    line-height: $line-height-main + px;
    color: $text-red;
    white-space: nowrap;
}

.link-gray {
    color: $text-grey;
}

.close-cross {
    width: 25px;
    float: right;
    padding: 20px;
    cursor: pointer;
}

.default-height {
    line-height: $line-height-main + px;
}

.double-spacing {
    margin-bottom: $line-height-main + px;
}

.half-spacing {
    margin-bottom: ($line-height-main / 2) + px;
}

.one-and-half-spacing {
    margin-bottom: ($line-height-main / 1.5) + px;
}

.half-spacing-top {
    margin-top: ($line-height-main / 2) + px;
}

.tutor-name {
    font-size: 18px;
}

.font-medium {
    font-family: $font-medium;
}

p {
    line-height: 21px;
}

h3.padding-top {
    margin-top: 32px;
}

.absolute-message {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn {
    padding: 6px 10px;
}

.back-arrow {
    & img {
        height: 14px;
        margin-right: 5px;
    }
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}

.pdf-download {
    justify-content: flex-end;
    font-size: 12px;
    & a {
        // text-decoration: none;
    }
    & span {
        margin-left: 5px;
    }
}

.subject-list-flex {
    display: flex;
    & > div {
        flex: 1;
    }
}

ol, ul {
    line-height: $line-height-main + px;
}

.page-not-found-wrapper {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    & .page-not-found {
        text-align: center;
        & h1 {
            font-family: $font-regular;
        }
        & ul {
            list-style: none;
            padding: 0;
        }
    }
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    top: 40%;
}

.header-menu-item-order {
    background: $color-green;
    &:hover {
        background: darken($color-green, 20);
    }
}

.order-right-block {
    padding: 10px;
    background: #d9eede;
    border-radius: 4px;
    line-height: $line-height-main + px;
    & center {
        margin: 20px 0 10px;
    }
}

.price-number {
    font-size: 18px;
}

.payment-types {
    display: inline-block;
    height: 20px;
    top: 3px;
    position: relative;
    margin-left: 3px;
}

.signup-bottom-price {
    text-align: center;
    line-height: $line-height-main + px;
    & .signup-bottom-price-deadline {
        margin-top: 10px;
    }
}

.signup-bottom {
    margin-top: 10px;
}

#deadline-bar {
    background: #fffccc;
    border: 1px solid #ebdd53;
    border-left: 0;
    border-right: 0;
    padding: 8px 0;
    text-align: center;
    color: $text-red;
}

/* на главной бар не отображать */
.header-menu-wrap__img {
    & #deadline-bar {
        display: none !important;
    }
}

/* IE10+ specific styles go here */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .main {
      display: block !important;
    }
}

.tutor-rating {
    background-color: $menu-blue;
    color: white;
    font-family: $font-medium;
    padding: 2px 4px;
    border-radius: 2px;
}

.tutor-rating-line {
    margin-top: 8px;
}

.address-block-bottom {
    clear: both;
    padding-top: 18px;
}