/* color */
$main-link-color: #3a6699;
$text-grey: #818181;
$text-grey-light: #acacac;
$text-grey-active: #e8e8e8;
$text-red: #a30000;
$color-green: #35a45b;
$color-grey-border: #dcdcdc;
$color-gold: #c8ca00;
$color-footer: #3b3b3b;
$gray-mobile: #8a8a8a;

/* font size */
$font-size-h1: 1.5;
$font-size-h2: 1.2;
$font-size-h3: 1;

/* size */
$border-radius-element-form: 0.313;
$border-radius-button: 1;

$common-indent: 1.2em;

$arrow-thick-size: .75em;

$arrow-expand-height: 1.75em;

$footer-margin: 2em;

$common-side-indent: 1.357;
$height-element-form: 2.7;
$border-radius-main: 4px;

$width-320: 320px;
$width-480: 480px;
$width-1024: 1024px;

@mixin respond-to($media) {
  @if $media == 320 {
    @media only screen and (max-width: $width-480) { @content; }
  }
  @else if $media == 480 {
    @media only screen and (min-width: 480px) and (max-width: 960px) { @content; }
  }
}


.notifyjs-bootstrap-error {
  color: white !important;
  background: none !important;
  background-color: $text-red!important;
  border-color: $text-red!important;
  //font-family: $font-light;
  text-shadow: none !important;
  -webkit-font-smoothing: antialiased;
  padding-left: 14px !important;
}

.error-message {
  border-radius: $border-radius-main;
  background-color: $text-red;
  color: white;
  text-align: center;
  padding: 11px 0;
  margin-top: 12px;
  //font-family: $font-roman;
  &.button-like {
    display: inline-block;
    margin-top: 30px;
    padding: 11px 12px;
  }
}
