.badge {
  background: #35a45b;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-family: 'helveticaneuecyrbold';
  display: inline-block;
  border-radius: 100%;
  padding: 0.47em;
  min-width: 1.15em;
}