.button-green-large {
  display: inline-block;
  vertical-align: middle;
  background: $color-green;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: ($height-element-form + 0.1)+ em;
  text-decoration: none;
  font-family: 'helveticaneuecyrbold';
  height: $height-element-form + em;
  padding: 0 0.625em;
  border-radius: $height-element-form + em;
  border: 0;
  padding: 0 1.5em;
  position: relative;
}